.App {
  text-align: center;
  background: url("./Images/Background.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  background-attachment: fixed;
}

.Image img{
  max-width: 50vw;
}